:root {
	--shadow: 0 2px 5px rgba(30, 30, 30, 0.5)
}

body {
  font-family: sans-serif;
  background-color: lightgreen;
}

label {
  display: block;
  margin: 10px 0;
}

#buttons {
  margin-top: 15px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-item {
  padding: 10px;
  width: auto;
  height: 150px;
  margin: 10px;
  line-height: 15px;
  color: black;
  box-shadow: var(--shadow);
}

.high {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: lightblue;
}
