:root {
	--shadow: 0 2px 5px rgba(30, 30, 30, 0.5)
}

body {
  font-family: sans-serif;
  background-color: lightgreen;
}

h1 {
  text-align: center;
}

#form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 10px;
}

#buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 10px;
  width: auto;
  min-width: 200px;
  min-height: 150px;
  margin: 10px;
  line-height: 15px;
  color: black;
  box-shadow: var(--shadow);
  flex: 1 1 200px;
}

.high {
  background-color: red;
}

.medium {
  background-color: yellow;
}

.low {
  background-color: lightblue;
}
