:root {
	--shadow: 0 2px 5px rgba(30, 30, 30, 0.5)
}

body {
  font-family: sans-serif;
  background-color: #EEE8D5;
}

h1 {
  text-align: center;
}

#top-wrapper {
  box-shadow: var(--shadow);
  background-color: #BBB6A7;
  padding: 10px;
  margin: 10px;
}

#form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  margin: 10px;
}

button {
  margin-left: 10px;
}

#buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  padding: 10px;
  margin: 10px;
  color: black;
  box-shadow: var(--shadow);
  flex: 1 1 20%;
}

.high {
  background-color: #F08080;
}

.medium {
  background-color: #F2F19A;
}

.low {
  background-color: #80F0A0;
}
